html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  height: 100vh;
}

@font-face {
  font-family: "Ubuntu - bold";
  src: url(src/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu - medium";
  src: url(src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu - regular";
  src: url(src/assets/fonts/Ubuntu-Regular.ttf);
}
